version: "3"
services:
  mcp-gateway:
    image: ghcr.io/amoylab/unla/allinone:latest
    container_name: mcp-gateway
    ports:
      - "8080:80"
      - "5234:5234"
      - "5235:5235"
      - "5236:5236"
    environment:
      - ENV=production
      - TZ=${TZ:-UTC}
    volumes:
      - /mnt/d/Develop/Wsl/Mnt/Unla/config:/app/configs
      - /mnt/d/Develop/Wsl/Mnt/Unla/data:/app/data
      - /mnt/d/Develop/Wsl/Mnt/Unla/.env:/app/.env
    restart: unless-stopped

# volumes:
#   data:
#     driver: local
#     driver_opts:
#       type: none
#       o: bind
#       device: ./data  # 本地目录路径
#   config:
#     driver: local
#     driver_opts:
#       type: none
#       o: bind
#       device: ./config  # 本地目录路径