version: '3.3'
services:
  minio:
    image: minio/minio:RELEASE.2024-09-13T20-26-02Z
    ports:
      - 9000:9000
      - 9001:9001
    container_name: share-minio
    restart: always
    networks:
      - share
    environment:
      - MINIO_ROOT_USER=minio-admin
      - MINIO_ROOT_PASSWORD=minio-hariko
    volumes:
      - data:/data
    command: server /data --console-address ":9001"
    healthcheck:
      test: ['CMD', 'curl', '-f', 'http://localhost:9000/minio/health/live']
      interval: 30s
      timeout: 20s
      retries: 3

volumes:
  data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ./minio  # 本地目录路径

networks:
  share:
    external: true
